[submodule "tensorflow_chessbot"]
	path = tensorflow_chessbot
	url = https://github.com/Exiledz/tensorflow_chessbot.git
  update = merge
	branch = chessfenbot
[submodule "Snipping-Ocr"]
	path = Snipping-Ocr
	url = https://github.com/Exiledz/SnippingTool.git
  update = merge
	branch = for-snipping-tools
