[submodule "tensorflow_chessbot"]
	path = tensorflow_chessbot
	url = https://github.com/Elucidation/tensorflow_chessbot.git
[submodule "Snipping-Ocr"]
	path = Snipping-Ocr
	url = https://github.com/Exiledz/SnippingTool.git
